{
  "default": {
    "enabled": false,
    "centerOnScreen": false,
    "centerX": false,
    "centerY": false,
    "x": 0,
    "y": 0,
    "daySize": 90,
    "dateSize": 25,
    "timeSize": 22
  }
}
