# /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  #
# Contributor: sadrach34 (mods and maintenance)

# *********************************************************** #
# 
# NOTE: This will be overwritten by NWG-Displays 
# once you use and click apply. 
#
# *********************************************************** #

# You can set workspace rules to achieve workspace-specific behaviors. 
# For instance, you can define a workspace where all windows are drawn without borders or gaps.

# https://wiki.hyprland.org/Configuring/Workspace-Rules/

# Assigning workspace to a certain monitor. Below are just examples
# (These will be overwritten by NWG-Displays or you can set them manually)
workspace = 1, monitor:eDP-1, default:true
workspace = 2, monitor:eDP-1
workspace = 3, monitor:eDP-1
workspace = 4, monitor:eDP-1
workspace = 5, monitor:eDP-1
workspace = 6, monitor:eDP-1, default:true
workspace = 7, monitor:eDP-1
workspace = 8, monitor:eDP-1
workspace = 9, monitor:eDP-1
workspace = 10, monitor:eDP-1
